@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

  body {
    @apply bg-darkbg text-white text-sm lg:text-base font-body;
  }

  img {
    @apply block select-none;
  }
}
