@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

  body {
    @apply bg-lite text-text1 text-sm leading-relaxed lg:text-base font-body dark:bg-darkbg dark:text-white;
  }

  img {
    @apply block select-none;
  }
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    @apply text-text4 w-10 h-10 bg-white rounded-full shadow-lg;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    @apply text-xl font-semibold;
  }
}

.trailer:hover > div {
  visibility: visible;
}
.card:hover > .name {
  visibility: visible;
}

.spacing {
  @apply px-5 lg:px-10 container mx-auto;
}

ul[role="navigation"] {
  @apply flex flex-wrap items-center justify-center gap-3 font-medium text-text3 dark:text-text4;

  .selected {
    @apply font-semibold text-white bg-secondary dark:bg-secondary20;
  }

  .previous,
  .next {
    @apply bg-white text-icon-color shadow-[0px_3px_6px_rgba(131,146,166,0.1)] dark:bg-darkStroke dark:shadow-none;
  }

  li {
    @apply rounded-xl transition-all;
  }

  li:hover:not(.selected, .previous, .break, .next) {
    @apply text-secondary dark:text-secondary20;
  }

  a {
    @apply min-w-[32px] px-1 h-8 flex items-center justify-center;
  }
}
